<a href="https://colab.research.google.com/github/Cuberswarm/SEM-6/blob/main/DSBDA_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [7]:
df=pd.read_csv('/content/Iris.csv')

In [8]:
df.head(11)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa

In [9]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [10]:
a1=df["SepalLengthCm"].mean()
print(a1)

5.843333333333334

In [11]:
m1=(df["SepalLengthCm"].sum()/df["SepalLengthCm"].count())
print("mean of sepal length calculated is ",m1,"given is",a1)

mean of sepal length calculated is  5.843333333333334 given is 5.843333333333334

In [12]:
a2=df["PetalLengthCm"].mean()
m2=(df["PetalLengthCm"].sum()/df["PetalLengthCm"].count())
print("mean of sepal length calculated is ",m2,"given is",a2)

mean of sepal length calculated is  3.758666666666666 given is 3.758666666666666

In [27]:
sd=df["PetalLengthCm"].std()
var1=sd*sd

In [28]:
sum=0
for i in range(df["PetalLengthCm"].count()):
    sqr=(df["PetalLengthCm"].mean()-(df.loc[i].at["PetalLengthCm"]))
    sum+=sqr*sqr
c=(df["PetalLengthCm"].count())-1
var=sum/c
print("variance of petallength is ",var,"given is ",var1 )

variance of petallength is  3.113179418344519 given is  3.1131794183445187

In [17]:
sum=0
for i in range(5):
  sqr=(5-i)
  sum+=sqr*sqr
  print(sum)

25
41
50
54
55

In [29]:
import math
print("standard deviation of petallength is ",math.sqrt(var),"given is ",sd)

standard deviation of petallength is  1.7644204199522626 given is  1.7644204199522626

In [31]:
irisgrp=df.groupby(by='Species')

In [33]:
irisgrp.mean()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.006,3.418,1.464,0.244
Iris-versicolor,75.5,5.936,2.770,4.260,1.326
Iris-virginica,125.5,6.588,2.974,5.552,2.026

In [34]:
irisgrp.median()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.0,3.4,1.50,0.2
Iris-versicolor,75.5,5.9,2.8,4.35,1.3
Iris-virginica,125.5,6.5,3.0,5.55,2.0

In [36]:
irisgrp.std()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,14.57738,0.352490,0.381024,0.173511,0.107210
Iris-versicolor,14.57738,0.516171,0.313798,0.469911,0.197753
Iris-virginica,14.57738,0.635880,0.322497,0.551895,0.274650

In [32]:
irisgrp.quantile()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.0,3.4,1.50,0.2
Iris-versicolor,75.5,5.9,2.8,4.35,1.3
Iris-virginica,125.5,6.5,3.0,5.55,2.0